{% extends 'app/base.html' %}
{% load static %}

{% block title %}
    Services
{% endblock %}

{% block content %}

{% for service in services %}
    <section class="clearfix page-section">
        <div class="container">
        <div class="intro">
            <img class="mb-3 rounded intro-img img-fluid mb-lg-0 w-25" src="{{ service.image.url}}" alt="">
            <div class="p-5 text-center rounded intro-text bg-faded">
                <h2 class="mb-4 section-heading" >
                    <span class="section-heading-lower">{{service.title}}</span>
                    <span class="section-heading-upper">{{service.content}}</span>
                </h2>
            </div>
        </div>
        </div>
    </section>
{% endfor %}

{% endblock %}